* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(33, 33, 33);
    display: flex;
    align-items:center;

}

.outer {
    display: flex;
    background-color: white;
    background-color: rgb(123, 121, 121);
    /* background-color: black; */
    height: 600px;
    width: 100vw; 
    justify-content: center;

    padding: 2%;
    background-color: #b56576;
    background-color: rgb(33, 33, 33);
}

.container {
    display: grid;
    background-color: #b56576;
    background-color: black;
    background-color: rgb(33, 33, 33);
    

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    /* border: 2px solid black; */
    border-radius: 35px;

    width: 100%;
    max-width: 600px;
    max-height: 600px;

}



.screen{

    margin-bottom: 15px;
    background-color: #81b29a;
    border-radius: 20px;
    font-size: 2rem;
    border-style: none;
    display: flex;
    padding-left: 30px;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.button, #equals{
    margin-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 1.2rem;
    border-style: none;
    padding: 5px;
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
}

.button:active, #equals:active{
    border: white solid 2px;
}

.num{
    background-color: #3d405b;
    color: white;
}

.num:hover{
    background-color: #4b5181;
}

.operate{
    background-color: #f6bd60;
    color: black;
}

.operate:hover{
    background-color: #f1c783;
}

#equals{
    background-color: #1d2530;
    color: white;

    background-color: #f6bd60;
    color: black;
}

#equals, #clear{
    background-color: #f6bd60;
}

#equals:hover{
    background-color: rgb(54, 53, 53);
}

#decimal{
    background-color:#3d405b;
    color: white; 
}

#decimal:hover{
    background-color: #4b5181;
}


.screen {
    grid-column: 1 / 6;
}

#clear {
    grid-column: 4 / 6;
    max-width: 250px;
}

#equals {
    grid-column: 3 / 5;
    max-width: 250px;
}

